<!DOCTYPE html>
<html>
<head>
    <title>Mood Fellows - <%= pageTitle %></title>
    <%- include partials/meta-tags.ejs %>
    <%- include partials/styles.ejs %>
</head>
<body>
    <header>
        <h1><a href="/">Mood Fellows</a></h1>
        <%- include partials/nav-menu.ejs %>
    </header>
    <main>
        <%- include(pagePath) %>
    </main>
    <footer>
        <%- include partials/copyright.ejs %>
    </footer>
</body>
</html>