<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mood Fellows - <%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/styles.ejs %>
    <title>Mood Fellows</title>
</head>
<body>
    <header>
        <h1><a href="/">Mood Fellows</a></h1>
        <%-include partials/nav-menu.ejs %>
    </header>
    <main>
        <%- include(pagePath) %>
     
    </main>
    <%- include partials/scripts.ejs %>

</body>
</html>
