<h2>Edit Your Post</h2>
<p>Edit your post below, then enter your password and click "save"</p>

<div>
    <div class="post-card <%- post.avatar %>">
        <p class="speech-bubble"><%= post.content %></p>
        <img src="<%- '../images/' + post.avatar + '.png' %>">
    </div>
</div>

<form method="post" action="/edit/<%- post.id %>/submit">
    <textarea name="postContent" id="postContent" cols="30" rows="10"><%= post.content %></textarea>
    <input type="text" name="secretId" id="secretId" placeholder="Password" required />
    <input type="submit" value="Save">
</form>