<h2>Welcome</h2>
<p>Welcome to Mood Fellows, an open space to express how you feel. When you post, your mood is evaluted and displayed. Feel free to <a href="/new">make a post</a> or just stick around and read the posts made by other people.</p>
<h2>Recent Posts</h2>
<ul>
    <% posts.forEach ( post => { %>
        <li class="post-card <%- post.avatar %>">
                <div class="date-edit" id="<%- post.id %>">
                    <p><%= post.date %></p>
                    <p>
                        <a class="edit-post" href="/edit/<%- post.id %>">Edit</a> / 
                        <a class="delete-post" href="/delete/<%- post.id %>">Delete</a>
                    </p>
                </div>
            <p class="speech-bubble"><%= post.content %></p>
            <img src="<%- 'images/' + post.avatar + '.png' %>">
        </li>
    <% }); %>
</ul>